@Html.Partial("cabecera")

<!-- Resto de tu contenido -->
<div class="main-content">
    
    <style>
        /* Aplica el fondo a la sección que tiene la clase main-content */
        .main-content {
            background-image: url('/videos-img/background-inicio.png'); /* Ruta de la imagen */
            background-size: 100%; /* Cambia el tamaño de la imagen de fondo al 50% */
            background-position: center; /* Centra la imagen */
            background-repeat: no-repeat; /* Evita que la imagen se repita */
            height: 100vh; /* Ajusta la altura al 100% de la ventana */
            width: 100%; /* Hace que el contenedor ocupe el 100% del ancho de la pantalla */
            color: white; /* Cambia el color del texto si es necesario */
            padding-top: 90px; /* Ajusta el padding superior si es necesario */
            display: flex; /* Usado para centrar contenido */
            flex-direction: column; /* Centra los elementos de arriba hacia abajo */
            justify-content: center; 
            align-items: center; 
            padding-top: 80px;
        }
    </style>
    <!-- Más contenido aquí -->
</div>
